body {
    background-color: #121212;
    overflow: hidden;
    /*height: 100vh;*/
    /*background-image: url("../img/columns.svg");*/
    width: 100vw;
    background-size: cover;
}

.title {
    font-family: Arimo-Bold;
    font-size: 3.3vw;
    color: white;
    position: relative;
    margin-top: 5.3vh;
}

.logoDiv {
    width: 5vw;
    margin-top: 5.5vh;
    position: relative;
}

.workspaceOne {
    padding-left: 5.20vw;
    padding-right: 5.20vw;
    /*height: 100vh;*/
    position: relative;
    z-index: 5;
}

.linkContainer {
    display: inline-block;
    position: relative;
    margin-top: 12.5vh;
    /*width: 100vw;*/
    vertical-align: top;
}

.vkLogo {
    width: 2.5vw;
    position: relative;
}

.linkArrow {
    width: 1.3vw;
    margin-left: 15.8vw;
    position: relative;
}

.linkPortfolio {
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    margin-left: 0.8vw;
    color: white;
    position: relative;
    display: inline-block;
}

.linkContainer {
    display: inline-block;
    position: relative;
    margin-top: 12.5vh;
    /*width: 100vw;*/
    vertical-align: top;
}

.radugaDesc {
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    color: white;
    position: relative;
    margin-top: 2vh;
}

.navBlock {
    display: inline-block;
    position: relative;
    margin-top: 13vh;
    z-index: 5;
}

.navBlock p {
    display: inline-block;
    color: white;
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: relative;
    margin-right: 6.8vw;
    filter: blur(0.2vw);
    transition: filter 0.25s linear;
}

.navBlock p:hover{
    filter: blur(0);
}

.runLine {
    width: 100vw;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    margin-top: -5.5vh;
    display: inline-block;
    white-space: nowrap;
}

.runLineImg {
    height: 100vh;
    margin-left: 0;
    animation: marc 10s linear infinite;
    animation-play-state: running;
    display: inline-block;
    vertical-align: top;

}

@keyframes marc {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}

@keyframes marcRev {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

/*shop page*/

.shopPage .navBlock {
    margin-top: 43.5vh;
}

.shopPage .shopLink {
    filter: blur(0);
}

.shopPage .workspaceOne {
    padding-right: 0;
}

.shopBackG {
    width: 100vw;
    z-index: -1;
    position: absolute;
    margin-top: -49vh;
}

.cart {
    text-transform: uppercase;
    font-family: Arimo-Regular;
    font-size: 2.5vw;
    color: white;
    z-index: 2;
    position: absolute;
    margin-top: 5.7vh;
    margin-left: 73.5vw;
}

.itemName {
    text-transform: uppercase;
    font-family: Arimo-Regular;
    font-size: 2.5vw;
    color: white;
    z-index: -1;
    position: absolute;
    margin-top: 5.7vh;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.itemPrice {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    color: white;
    z-index: -2;
    position: absolute;
    margin-top: 11.7vh;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.itemBlock {
    position: relative;
    height: 50vh;
    margin-top: 3.5vh;
    display: inline-block;
    align-items: center;
    z-index: 5;
}

.itemBlock img {
    padding-right: 6.5vw;
    margin-top: 3vh;
    z-index: 5;
    position: relative;
}

.tote {
    width: 11.7vw;
}

.envelope {
    width: 17vw;
}

.books {
    width: 12vw;
}

.cream {
    width: 8vw;
}

.creamToo {
    width: 11.7vw;
    padding-right: 0;
    filter: blur(0.3vw);
}

/*start of the tanPage*/

.picker img {
    width: 14vw;
    display: inline-block;
    transition: filter 0.25s linear,
            transform 0.25s linear;

}

.picker {
    position: absolute;
    top: 40vh;
    height: 14vw;
    /*display: inline-block;*/
    width: 89.6vw;
    vertical-align: baseline;
    justify-content: space-between;
}

/*.purpleT, .redT, .greenT {*/
/*    padding-right: 9.6vw;*/
/*}*/

.purpleT {
    position: absolute;
}

.redT {
    position: absolute;
    left: 25.9vw;
}

.greenT{
    position: absolute;
    left: 51.6vw;
}

.yellowT {
    position: absolute;
    left: 77.2vw;
}

.pickedColor {
    text-transform: uppercase;
    font-family: Arimo-Regular;
    font-size: 2.5vw;
    color: white;
    z-index: 2;
    position: absolute;
    top: 4.3vh;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.request {
    position: absolute;
    vertical-align: top;
    top: 82vh;
    width: 50vw;
}

.fill {
    position: relative;
    z-index: 10;
    width: 30vw;
}

.inputData {
    position: relative;
    z-index: 11;
    width: 16vw;
    font-size: 1.7vw;
    font-family: Arimo-Italic;
    color: white;
    background-color: #121212;
    opacity: 100%;
    border: none;
    padding-bottom: 1vh;
}

input:focus{
    outline: none;
}

.sendButton {
    position: absolute;
    color: white;
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    text-decoration: underline;
    left: 19vw;
    top: 0;
    z-index: 50;
}

.scheduledDiv {
    position: fixed;
    width: 42vw;
    z-index: 15;
    margin: 40vh auto auto;
    left: 28.4vw;
    opacity: 0;
}

.scheduled {
    width: 42vw;
    position: fixed;
    margin: auto;
}

.pickedT {
    transform: scale(1.2, 1.2);
}

.unpickedT {
    transform: scale(0.8, 0.8);
}

.activeColor {
    opacity: 1;
}

/*start of eventsPage*/

.eventsContainer {
    top: 74.4vh;
    position: absolute;
    width: 100vw;
    height: 25.6vh;
    background-image: url("../img/eventsBackG.svg");
    background-size: cover;
    vertical-align: top;
}

.eventsContainer img{
    position: relative;
    margin-top: 1vw;
}


.onlineTour {
    width: 11vw;
    margin-left: 2.7vw;
    top: -2vw;
}

.groupTan {
    width: 12.6vw;
    margin-left: 7.4vw;
}

.skinProbs {
    width: 12.6vw;
    margin-left: 7.4vw;
}

.colorImp {
    width: 12.6vw;
    margin-left: 7.4vw;
}

.melaninWho {
    width: 13.3vw;
    margin-left: 7.4vw;
    top: -2vw;
}

.visitButton {
    position: absolute;
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    color: white;
    text-decoration: underline;
    margin-left: 8.4vw;
}

.getInButton {
    position: absolute;
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    color: white;
    text-decoration: underline;
}

.one {
    margin-left: 27.4vw;
}

.two {
    margin-left: 47.4vw;
}

.three {
    margin-left: 67.4vw;
}

.four {
    margin-left: 87.4vw;
}

.eventsContainer img {
    transition: filter 0.25s linear;
}

.eventsContainer p {
    transition: filter 0.25s linear;
}

.groupTanDiv {
    z-index: -15;
    opacity: 0;
    transition: opacity 0.25s linear;

}
.redTOne {
    height: 74.2vh;
    position: absolute;
    left: 5.5vw;
}

.groupTanPoster {
    position: absolute;
    width: 16.1vw;
    top: 7vh;
    left: 42vw;
}

.groupTanHead {
    font-family: Arimo-Bold;
    font-size: 2.5vw;
    position: absolute;
    left: 60vw;
    top: 7vh;
    color: white;
}

.groupTanDesc {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 60vw;
    top: 14vh;
    color: white;
}
/*next container*/
.onlineTourDiv {
    z-index: -14;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;

}
.redTTwo {
    height: 74.2vh;
    position: absolute;
    left: 48.5vw;
}

.onlineTourPoster {
    position: absolute;
    width: 16.1vw;
    top: 15vh;
    left: 5.5vw;
}

.onlineTourHead {
    font-family: Arimo-Bold;
    font-size: 2.5vw;
    position: absolute;
    left: 23.5vw;
    top: 15vh;
    color: white;
}

.onlineTourDesc {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 23.5vw;
    top: 22vh;
    color: white;
}
/*next container*/
.skinProbsDiv {
    z-index: -13;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;

}
.redTThree {
    height: 74.2vh;
    position: absolute;
    left: 43.5vw;
}

.skinProbsPoster {
    position: absolute;
    width: 16.1vw;
    top: 4vh;
    left: 23.5vw;
}

.skinProbsHead {
    font-family: Arimo-Bold;
    font-size: 2.5vw;
    position: absolute;
    left: 42.5vw;
    top: 4vh;
    color: white;
}

.skinProbsDesc {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 42.5vw;
    top: 11vh;
    color: white;
}
/*next container*/
.colorImpDiv {
    z-index: -12;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;

}
.redTFour {
    height: 74.2vh;
    position: absolute;
    left: 58.5vw;
}

.colorImpPoster {
    position: absolute;
    width: 16.1vw;
    top: 8vh;
    left: 42vw;
}

.colorImpHead {
    font-family: Arimo-Bold;
    font-size: 2.5vw;
    position: absolute;
    left: 60.5vw;
    top: 8vh;
    color: white;
}

.colorImpDesc {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 60.5vw;
    top: 15vh;
    color: white;
}
/*next container*/
.melaninDiv {
    z-index: -11;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;

}
.redTFive {
    height: 74.2vh;
    position: absolute;
    left: 58.5vw;
}

.melaninPoster {
    position: absolute;
    width: 16.1vw;
    top: 17vh;
    left: 23.5vw;
}

.melaninHead {
    font-family: Arimo-Bold;
    font-size: 2.5vw;
    position: absolute;
    left: 42.5vw;
    top: 17vh;
    color: white;
}

.melaninDesc {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 42.5vw;
    top: 24vh;
    color: white;
}

.eventUnpicked {
    filter: blur(0.3vw);
}

.eventContentVisible {
    opacity: 1;
}

.youreInDiv {
    position: fixed;
    width: 42vw;
    z-index: 15;
    margin: -28vh auto auto;
    left: 28.4vw;
    opacity: 0;
}

.youreIn {
    width: 42vw;
    position: fixed;
    margin: auto;
}

/*start of bagPage css*/
.itemSection {
    width: 100vw;
    background-image: url("../img/bagBack.svg");
    position: absolute;
    z-index: -10;
    height: 73.5vh;
    top: 26.5vh;
}

.itemDesc {
    position: absolute;
    width: 45vw;
    left: 41.9vw;
    top: 14.1vh;
}

.item {
    font-family: Arimo-Regular;
    font-size: 3.3vw;
    color: white;
}

.description {
    font-size: 1.7vw;
    margin-top: 2vh;
}

.toCart {
    font-family: Arimo-Regular;
    font-size: 3.3vw;
    position: absolute;
    color: white;
    left: 76.5vw;
    top: 61vh;
    filter: blur(0.2vw);
    transition: filter 0.25s linear;
}

.activeToCart {
    filter: blur(0);
}

.addedMessage {
    left: 29.7vw;
    top: 33.3vh;
    filter: blur(0);
    opacity: 0;
    transition: opacity 0.25s linear;
    z-index: 50;
}

/*start of about section*/
.aboutSection {
    width: 100vw;
    background-image: url("../img/aboutBackG.svg");
    position: absolute;
    z-index: -10;
    height: 73.5vh;
    top: 55.1vh;
}

.aboutRunOne {

}

.runOne {
    width: 100vw;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 3vh;
    display: inline-block;
    white-space: nowrap;
}

.runText {
    font-family: Arimo-Bold;
    font-size: 10.2vw;
    color: white;
    text-transform: lowercase;
}

.textRunOne {
    height: 100vh;
    margin-left: 0;
    animation: marc 15s linear infinite;
    animation-play-state: running;
    display: inline-block;
    vertical-align: top;
}

.runTwo {
    width: 100vw;
    z-index: 1;
    position: absolute;
    overflow: hidden;
    top: 23.8vh;
    display: inline-block;
    white-space: nowrap;
}

.textRunTwo {
    height: 100vh;
    margin-left: 0;
    animation: marcRev 15s linear infinite;
    animation-play-state: running;
    display: inline-block;
    vertical-align: top;
}
/*style container*/
.styleContainer {
    z-index: -11;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;
}

.styleImg {
    position: absolute;
    width: 16.1vw;
    left: 23.5vw;
    top: 10vh;
}

.styleText {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 41.9vw;
    top: 10vh;
    color: white;
}

/*start of innovation container*/
.innovationContainer {
    z-index: -11;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;
}

.innovationImg {
    position: absolute;
    width: 48vw;
    left: 9vw;
    top: -3vh;
}

.innovationText {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 60.2vw;
    top: 11vh;
    color: white;
}

/*start of team container*/
.teamContainer {
    z-index: -11;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;
}

.teamImg {
    position: absolute;
    width: 16.25vw;
    left: 60.2vw;
    top: 1vh;
}

.teamText {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 5.4vw;
    top: 25vh;
    color: white;
}

.second {
    left: 78.5vw;
    top: 9vh;
}

.teammateOneDesc {
    position: absolute;
    left: 60.2vw;
    top: 34vh;
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    color: white;
}

.teammateTwoDesc {
    position: absolute;
    left: 78.5vw;
    top: 42vh;
    font-family: Arimo-Regular;
    font-size: 1.25vw;
    color: white;
}

/*start of mission container*/
.tanningContainer {
    z-index: -11;
    opacity: 0;
    transition: opacity 0.25s linear;
    position: relative;
}

.tanningImg {
    position: absolute;
    width: 24vw;
    left: 12vw;
    top: 4vh;
}

.tanningText {
    font-family: Arimo-Regular;
    font-size: 1.7vw;
    position: absolute;
    left: 41.9vw;
    top: 8vh;
    color: white;
}

.rotateMessage {
    position: absolute;
    font-family: Arimo-Regular;
    font-size: 8.3vw;
    text-align: center;
    display: none;
    color: white;
    text-transform: uppercase;
    left: 19vw;
    top: 54vw;
}


.gifka {
    position: absolute;
    width: 35vw;
    left: 20vw;
    top: 19vh;
}

.errorMessage {
    position: absolute;
    width: 15vw;
    left: 61vw;
    top: 41vh;
}

